apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloud-pro
  namespace: app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: DOCKERHUB_USERNAME/cdsir_backend:latest
          ports:
            - containerPort: 8081
